<!-- sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Dashboard</h3>
    </div>
    <ul class="list-wrapper">
        <p class="list-text">Menu</p>
        <li class="list-items">
            <a href="#">Dashboard</a>
        </li>
        <li class="list-items">
            <a href="#">Article</a>
        </li>
        <li class="list-items">
            <a href="#">Category</a>
        </li>
        <li class="list-items">
            <a href="#">Category Listing</a>
        </li>
        <li class="list-items">
            <a href="#">Media Library</a>
        </li>
    </ul>
    <ul class="list-wrapper">
        <li class="list-items">
            <p class="list-text">Account</p>
        </li>
        <li class="list-items">
            <a href="#">Log out</a>
        </li>
    </ul>
</nav>
<!-- sidebar end -->