{% extends "layouts/default.twig" %}

{% block page %}
    <div class="wrapper">

        {% include '/partials/sidebar.twig' %}

        <div id="content">
            <div class="navbar-wrapper">
                <div id="sidebarCollapse"><a href="#" class="sidebar-button">Sidebar</a></div>
            </div>
            <div class="content-main-wrapper">
                <div class="container-fluid">
                    <div class="content-main">
                        <!-- ============ Content ========== -->
                        {% include 'partials/categorylist.twig' %}
                        <!-- ============ Content Ends Here ========== -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
