<div class="category-listing-wrapper">
    <h1 class="category-listing-title">Category List</h1>
    <div class="category-heading-wrapper">
        <div class="category-heading-sort-wrapper">
            <a href="#" class="category-heading-sort">All
            </a>
        </div>
        <form class="category-search">
            Search button here 
        </form>
    </div>
</div>



