

html {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-size: 100%;

	&.noscroll {
		overflow: hidden;
	}
}


/* Space out content a bit */
body {
	position: relative;
	max-width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	&[data-direction="ltr"] {
		text-align: left;
	}

	&[data-direction="rtl"] {
		text-align: right;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.table th,
.table td {
	padding: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
	padding-right: 1rem;
	padding-left: 1rem;
}
/* Custom page footer */
.footer {
	padding-top: 1.5rem;
}
/* Prevents img without src to appear */
img:not([src]) {
	visibility: hidden;
}

/* no scroll */
.posfixed{
    position: fixed !important;
    width: 100%;
}